<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" id="navbar-top">
    <div class="container">

        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">

            <ul class="navbar-nav">

                <li class="dropdown nav-item" dropdown>
                    <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle href="javascript:void(0)">
                        <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Empezar
                    </a>
                    <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>

                        <a class="dropdown-item" [routerLink]="['/register']">
                            <i class="tim-icons icon-bullet-list-67"> </i> Login
                        </a>
                        <a class="dropdown-item" [routerLink]="['/profile']">
                            <i class="tim-icons icon-bullet-list-67"> </i> Registro
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Apps de vanguardia•</h1>
                <h3>
                    Proyecto de Equipo #1 Apps de vanguardia 2020.
                </h3>
            </div>
        </div>
    </div>
</div>